[submodule "contrib/inih"]
	path = contrib/inih
	url = https://github.com/benhoyt/inih.git
[submodule "contrib/logog"]
	path = contrib/logog
	url = https://github.com/johnwbyrd/logog.git
[submodule "contrib/LuaDist"]
	path = contrib/LuaDist
	url = https://github.com/LuaDist/lua.git
